* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #e0e0ff, #f7f7ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* CONTAINER */
.container {
    display: flex;
    width: 90%;
    max-width: 1000px;
    min-height: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    background: #fff;
}

/* LEFT */
.left-section {
    width: 50%;
    position: relative;

    /* BACKGROUND IMAGE */
    background: linear-gradient(rgba(33, 33, 33, 0.4), rgba(46, 46, 46, 0.4)),
        url("../static/images/lo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-img {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    cursor: pointer;
}

/* TEXT */
.welcome {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.welcome h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.welcome p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #ccc;
}

/* RIGHT */
.right-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-box {
    width: 100%;
    max-width: 400px;
}

.form-box h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* INPUT */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    font-size: 16px;
}

/* PASSWORD */
.password {
    position: relative;
}

.password i {
    position: absolute;
    right: 15px;
    bottom: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* BUTTON */
.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to right, #8b3dff, #c055ff);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(139, 61, 255, 0.4);
}

/* TEXT */
.bottom-text {
    text-align: center;
    margin-top: 15px;
    color: #666;
}

.bottom-text a {
    color: #8b3dff;
    text-decoration: none;
}

/* RESPONSIVE */
@media(max-width:768px) {
    .container {
        flex-direction: column;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

    .left-section {
        height: 300px;
    }
}